body{
	text-align: center;
	font-family: "Arial";
}

.container{
	border: 5px solid #E5E7E9;
	width: 60%;
	margin: 0 auto;
}

#post{
	padding: 2em;
	text-align: left;
	color: red;
}

#header {
	background-color: #925FFF;
	color: red;
	padding: 0.5em;
	text-align: left;
	padding-left: 2em;
}